<g15control>
	<composer>/home/shane/g15lcd</composer>
	<welcometext>G15Control</welcometext>
	<defaultmbutton>1</defaultmbutton>
	<buttons>
		<M1>
			<G2 type="exec">
				<command>/usr/bin/kate</command>
			</G2>
			<G1 type="title">Dataforce</G1>
			<G3 type="text"><![CDATA[Dataforce > *]]></G3>
		</M1>
	</buttons>
	<plugin>uk.org.dataforce.g15.plugins.clock.Clock</plugin>
</g15control>
