<g15control>
	<!-- This is the path to the g15lcd pipe -->
	<!-- If this has attribute exec then this is taken to be the path to -->
	<!-- the g15composer binary and not to an exisitng pipe. -->
	<!-- If given a binary, a pipe will be created in /tmp -->
	<!-- if the value of this is empty, then we do not use the composer and talk -->
	<!-- to g15daemon directly. (Experimental and unfinished!!) -->
	<composer exec="">/usr/bin/g15composer</composer>
	
	<!-- This disables the exit G15Control menu item-->
	<!-- <noexit/> -->
	
	<!-- This sets the default MButton to be activated -->
	<defaultmbutton>1</defaultmbutton>
	
	<!-- In some versions of G15Composer progressbar 3 (used by amarok plugin) -->
	<!-- is broken. You can "fix" the display of it by setting this to "true" -->
	<pbar3fix>true</pbar3fix>
	
	<!-- This controls the button actions -->
	<buttons>
		<!-- This controls buttons pressed when M1 is active -->
		<M1>
			<!-- This controls what happens when G1 is pressed -->
			<!-- First add a title to the window -->
			<G1 type="title">kate</G1>
			<!-- Then execute it -->
			<G1 type="exec">
				<command>/usr/bin/kate</command>
			</G1>
			<!-- Then set a status -->
			<G1 type="status">Loading..</G1>
			<!-- Then control how long before the title/status/info messgaes disapear (1 = half a second, 2 = 1 second)-->
			<!-- type="exec" automatically sets this to 6, and thus this item needs to come AFTER any exec items to actually work -->
			<G1 type="timeout">6</G1>
			
			<!-- This controls what happens when G2 is pressed -->
			<!-- This shows how to pass arguments to the command. -->
			<G2 type="exec">
				<command>/usr/bin/java</command>
				<arguments>-jar /home/shane/projects/dmdirc_google/trunk/dist/DMDirc.jar</arguments>
			</G2>
			
			<!-- This controls what happens when G3 is pressed -->
			<G3 type="exec">
				<command>/usr/bin/konsole</command>
			</G3>
			
			<!-- This controls what happens when G4 is pressed -->
			<!-- This is an alternative way to exec argument-less commands -->
			<G4 type="exec">/usr/bin/amarok</G4>
			
			<!-- This controls what happens when G5 is pressed -->
			<!-- This does nothing useful other than print a message to the main bit of the display -->
			<G5 type="text"><![CDATA[Dataforce > *]]></G5>
		</M1>
	</buttons>
	<!-- Load plugins -->
	<plugin>uk.org.dataforce.g15.plugins.clock.Clock</plugin>
	<plugin>uk.org.dataforce.g15.plugins.stats.Stats</plugin>
	<plugin default="">uk.org.dataforce.g15.plugins.amarok.Amarok</plugin>
</g15control>

